Source: dofcalc
Section: user/other
Priority: optional
Maintainer: Michal Čihař <nijel@debian.org>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: http://cihar.com/software/dofcalc/

Package: dofcalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Depth of field calculator
 DOF Calc helps you calculate the depth of field in your photographs.
 It will help you choose right f/stop to produce depth of field you
 want. It also calculates hyperfocal distance.
 .
 Compatible with all cameras and lenses as it is fully customizable.
XSBC-Maemo-Display-Name: DOF Calc
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAABmJLR0QA/wD/AP+gvaeTAAARVUlE
 QVR4nO1de5RURXr/VdXt28/p7pmBGWCYGWAOwk5ECAtHEVGQReMCq4COuquJyUZjzNHEPbubuMET
 To6yJ8nJybo5ybrJ5kg0iYpHVx4aXHWzKKLIqjDCDAg4MsAMwzAz/Zjuvo965I/uHrp7HnTfGZCH
 P89F6t5bVV/9+qv6vvqqbgF8hVGBnK+KtnR0+DRoc5nCbALMpKB1lJAKAhWmhAQpQYgA7mLKUiCG
 VDImFWIKpE8o2SukahdEtdoEzZSIT1ZOmpQ8120CziGBW9tPLdIIlrsZW6gRNDJCygVApJQQAKRS
 UCrzfwAS6XQWqqC8XEEJASgICABKSDpNCBgASikolFIKvbZCiyXUe0KnW79ZXfHeuWjnmBGolCJb
 27vX+HVyn07oIgUEuVTgUsFWErKQkXMMSgAXodAogUYJCCFRw+bvmkpt+ObkqlcIIWMi0agJ3NTe
 PcnHyBNeja6SUoUtKWEJCTkW0o0hKACdUeiUghBETCFf5jYe/70p4ztHU65jArd2RaZ5bPsnHsZu
 tpTUDS4uONKGAwXg0Rh0Sk1DiG22xf/ilqkTv3BSVskEblSKhTu6f+Ih5H5LKHdKiEHj1cUCAsDL
 GHRGzLht/3x33cRH1xFSkh6URODWrsg0j2W+ToEZ/Zyf93HtXIERwK9pUJS29MQTK5pmTmkrNm/R
 BL508Ngt43yuF1NclBniYumspcHDKHTGYjEubl89rebNYvIUReCWtpN3eiE2JIT02PLSJC8LnVL4
 NS0Vs8V9q6ZP3ni2989K4CufH10WANvab3Odq0ukz54FGiEo0zUzJsWKNQ31b4307ogEvrD38JVh
 v3tnwuZltrq0Na8QLkLhd9FYTGFB0/T6luHe00YqxO/RXkraVpl5iY55I8GEBAEN+jXXiwBmDffe
 sBr4cmvbehfkYzGbnxMBLxYEXRo4pX+7esbUvxnq+ZAEvnr4RC21jANx2/KJy2PYGxaMEJS5tH6D
 uWc2zag9Ufh8yC7MzdQ/S8F99mXYdQshARgEAUrIUwBuL3w+SANfPXyiVqX6j0RMy3WZK98ACIBy
 j27GqXvqvY1T8ubOgzTQSvU/KTh3ycvEZSkGCoBhc7eukScAfDf3WZ4GblSKseaDPRHTCF0q07Sx
 AiVAWNf7Vs/+WmVuKCxPA61PD9zJbDvESxz7pBCgjI2JoGNVFrdtaC7XGEiUhgRgcV7+3J6DtwN4
 KXuf5r5EpPx9g3NIKUu6jFQKQoiS8+VeKxsmY5YyEGg7gD+aNwuM26Mqz0wlR5V/yHZyDib5H+Zy
 NqCBSiny/O691xo2LzmuJwTHe1s2QSmJWQsXOfh9AdlQi+bmZtxxxx3QNA2x3h6YDsKVJ7/4Ap9/
 uhfzvnET3D6/I1mGgyElvJp2rVKKZLvxAIEbWtquY0KUcQfBAtu00B/tg68sCOk42KDg9/tRUVEB
 IL1W4tSQGakkEvE4KsY48CEBWLYdembPvgUAdgI5BNJkYqWV6b6lgmkaljR9G4Q4XyEwUgZqamoG
 0v5gCC5CR8gxNALhcky7ajZS/f2j+DGHh8U5NFtbgUICleQLLC4cVZodI0ZD4OufHweUC/ve3pEu
 k1KoURCQlWmsYXFAc4kF2fQZK2zzGaZwFmUeCwIHNVUIZwUpBW6asFJJMErh8nqhxtCnNZWET4qZ
 2TQBgGf37vXzSCLea9qOGDBTSege76gIHC3sri74/vu/cHraVPROmQrbtKC7dYh4HL6aGgTC5YPy
 nDhyCLHeHsy9cVlJLk+Fxy3bT7Z71zU1WRoAJCw2hwpJnKr8WGigU7g7OlD3yiswwyGc+OP7IXu6
 4Z9UDyuVhO71wXX0CEJTpg6Z1+V2w+P3gzJWUnfnnNNJNdNnA9itAYBmm3OcGhDgyyHQe/gwpr62
 FZHaOhy6/35IlwvJUyehgmGonP+I2w3BOQgdbJAmXzETiWik5HbbnEP3kd9FlkDJ+e/Yoxh0zyeB
 /gOtqHv714hPmICWP30IUtOyQsCOxcDrx6cnr5mLh8oRP34Mgcm1w8pdMoGSQLPsWUDGiAgua7hw
 ZoHTgqhzTmDoo49Q+/776J5+BVoefBAqW1eOzETT0htnMtoHKEiPF8Q0h2ybUwK5AJS0a4AMgYqI
 CiEuTA0cv307qlpb0Tl7Npofeih9UymgwLIqKQHNlb9BSaUVkWlDj3FpuVXJ7RYAhJSVQIZAaYsw
 F8Kx5z/WBBIA1W++ifDx4+icOxefPvBAtqJh85inu4GyIAb2damBP0BdOqQQGe0skFs50EAFQIow
 kNVAyYNCSscEKinT1ygJpFKibvNm+Ht7ceyaa9CxdGn6QRENFIl+yPHVAxqocrbLyUAZjN7T0Msr
 8/LIjNwlayBR4FwEgawGChHgwvnmoIFxxCGBlHNM2bwZ7kQS7dcvQqK+Pltw8YUQCkVywmA5umDr
 XqCrE1oo3xd0PAYSQAkZAAYIlLqQ0vEmIacEMsPA1NdfAwAcu24RzKqqbIEly0AZBc9pgRowJIDS
 GDSFQUQ5JTDdg7kOZLuwklSOhkBVGoGuWBwztmyGpAxHbr4JZiYC44S4LAhlg7e15qYZGYbA0o0I
 ASCkYEDWjRGSjYrAIjVQj0TQsGkTRCiI1lu/BTsbrxvlpJ8AIEwb0DgAgEJ+mtAhCVQOjAgBoKQ6
 Q6CUggmHjfjojdcx64YlIxLoO3kSDdu3I15RgeZVt+HokcOY5vEiGY2AmyaC48Y7qjsLmUrBpbuQ
 z59CPn8aCtvotAsDgBT8DIFKSOYkYhHrOY0dL7+IK69fPGTEI9jWhunvvIOe2lrsu+MOSEJAAXDL
 glIKe976FVxuN+bdsqLkuvMaw20ojyf/ZoE4hJBBMiqlBq5SoVSau4wGOvsVtv7rU5h61Zz0OJLj
 3IYPH8K0XR/idG0dfnvvvRmX7MxzpdLjju71oqyictRxO8ltgLK8LktIfhcmNL8Lr5nTCCUVlJSg
 GsOm5gMoJRqfLStNIJSQUo640WgoND2W3i6SXcCpam5G9ZHP0T2lHr+9++5sTUNWLqXE7KU35Qnj
 FIoLKJZvRKTK78KKkAFnmhCChXNmY9u2bYhGo4hGo4BeVpIcUgoOZFbllIJQOeNBsdeBD95D5FQX
 fvOLp9Hxw++BpVLYekUDPg74YVsWWnfuQCIaQfexdhz6aDeklNi/YzsUgGQ8jtadO2Cmkuj8/DC+
 +HQvpJQ4+OH76O3sQKznNFp37oCUEscOtOD4wVZIIdC6cwdivT3o7ezAZ7t3QUqJnuPHwDmHlAJG
 oh9SCHDLhplKQkHBTCbAlUQ8U6ZtWQCAzs5OrFq1CvF4fMCYFHOp9KRDAJmA6rrnXkycTqZ8Tq3w
 od27UNPbi0WxfvROmIi2Rdc5LMkhohF4aurB3Wc+dLKMJHSPbyDt7jmFhBAAYyCE4Knv3oO1a9di
 +fLl6Ovrw/919aHYbXwEwDi/N7HunjsDmS4MMRo3prbxSuheL3YDqDx0CF/fuBGRceNwePHi87OD
 XykQyaGg59wrGAM5h8qssxBCQCnF+vXrB56//e//WXQXJgCkTGtgxpGGpaTzj2NyjVB3QwO6GxoQ
 PHECs7ZsgeHz4rMbFkMOEdAcMxAKIsWIbgyURK6Cfe/fNkBwDjOZhC8YhCFk0daYEgAgJnDGiPRD
 qcrRRmNyEZk4ER9PnAhfTw8a39gGKKBlyZK8bjZmIEgH6UaYikipIHM+Aem3JKTgSBkmpMcuqTpK
 CBQhcSBDICE0qkYRjRnJDeovL8eeZTfBG4lg9rY3wITAJ99YCjMQcFTXkGAMsK38EGFByFApjszk
 IU9uJzMRRSgUVAzILmtSGiGA4+W/dOho5LzJUAgfrlgOPZVC4zvvwGMY2Lt4MVKhkKM680AZlGUO
 kikX0uZQWv4w4tSRJkSBMBoBBhxpFXHySwwIV4Ijbrjd+HjZMmi2jekffIBQJIL9V1+NeDYS4xBS
 yEGk5aYF55A039V1HI0hAKTqAzIEMk1rhyo9KlEoSCmwGMP+hQvBhEDju++isqcHn86fh566ekcy
 CGEXGA2cSSuA2xxSK5wLK0eyE0qgKG0HshpI6X7icDoHwFFUNwtJCPZefz2oUpj+4W7M/mAXWq66
 Ch1XXFFaOZYNkqNzKodBjduIicHLtk7DWVAUhLmagewYSOjHBM6nVI6EKCwDQOv8eWidPw/1+/Zh
 4ebNODptGtobG4vK389thCwLtivjC+YYEdYfg6npg/baOF0TIUoBPvdHQIZAF1J7KCFSSunIWXMa
 jBgObY2NaGtsRP3+/Vjyy1+iY9IkHJg/f0Sn3NBcKE/EgPA4APnjn0omICgdNC93uiZCCfisFTfv
 A3L2SD/806e7uuPxKiebi2zDgKswnDSGmND2BRr370MkFMKehQuHdcon+7wwJqUX0O1UCi6vFwCg
 tR3GySGmaVIImIl+eIPFewKMAOODwc6fPvwnk4Cc3Vmax7uPxeM3OtlgOdYaWIiO+jp01Neh8uRJ
 XPfGG7CZhg9vuB52wYYg2zByVjXTMxEiBYxUClIbvHnIiRV2MQrN42nOps9ssPRoO6lSNzqKzp5j
 ArPorqrCr5ctQ1lfBAvfeguSEOy84QZYmdlNLGEgZFsDxCoouONRnBpmjHZiRCgloJr+fjZ9RgNd
 +v8yYK0jAkfhQzpBNBTEW8uWwR+L4Zrt74AqifcXLEDc70NltA92ZdWAG6PiUdhDjH8AwG0LIrOZ
 vVgwMGgu/fVsemAMVEqRB/7+n6Ld8URZqVTYpgGX+9yNgWeDO5XCvN27EUwkcPi2byHRMAO2kYLu
 9kJ91oKOYcJUx/fthZlIoOHqa4uqhxKgqiwY/fkPHikftMmcEKIe+dl/bNeTqRUX2yf9pteL7ddc
 Dd7ZiRm7diFyqgu2bcGl6ehNGbAYHRxnAOAvr4SnLFi0EdQphSdY9pthP7RxBwIbdEpLJlBz6Wd/
 6RxD093Q6qfgaP0UAGkLazMGTxgYq77hZhT+QNkvcu/l+QPz72l61ef1RWmJOzSG2rz4ZWOsvpwa
 KI8AXre3b/13bn8t735uookQ4a8o3+gd48ovBXgZg7+8/PnCI6MGqU6ouvxHXl03Ljyd+vJAAfg9
 nmRofN1fD/UsD+tWrjwdHDdus0f7Sguz8GgMgYqKTetWLYkUPhtS0cZVTfx+wO3pZ1/iZwsXChgh
 CHg8cX+48gdDPR+SwLW33XwsPL76sYDrKy0MuDSEqqv+6smmlYPOSwDOcm7Mnz319Cene3vmpC4y
 v3Cs4GMMlZUVH//LIw9+fbh3RrQV46fVLCsPBjvcF6Cbcq7hphThYPBEcHLVTSO9NyIz61auPF1e
 Xb0s5PdEtctoPNQIQbjMH6mprV3649Wre0Z696yq9eN7mlpCE2rurvB5+12XgSbqlKLC741XVI+/
 6/GmWw+e7f2i1Wrtsy98rfvUqV/1xeOTL7a5crHwMIqKcPj4hIkTl667a/VnxeQpqV/+6LmXJ0b6
 urfG+vrmXooHMIbKK3eHxlWvXP/tW7uKzetoYPvLZ/7n4d6uk0/EU0bwUjgCNODzRCurJz32d/fd
 9TMnZTjC95/dODUViz6VjEZuNmxbTwlx0WgkI4CHMXh1l+kPhbcFwxV//uR31hx1UtaoTesPn980
 yYj2PJGM9K02LStkigv7GGQ3o3C73RF/qPxlvz/4+Pp713w5xyAXQilFHn3mhTXCiN9nxPoXGZZ5
 QR3E7Xa7ox5/4F09ENjwj39w94VzEPdwePSZ5xdJ21rODWOhZSQbbdMqF0qdn6PgCZRbd/dqXm+L
 y+17Tw/7t/7DnWsu7KPgz4Z1W7b44n3xucrmswXnM4Ut65QUFVLwsJQiKGw7pKR0A4CUygUl8yfi
 hApKiZ3+KzOYi8Uo1WKEsT7GWC9hWjvVtVboenM45Ptk3cqV5+UfI/gKo8T/A1gMha2WIcRlAAAA
 AElFTkSuQmCC
