Source: dofcalc
Section: user/other
Priority: optional
Maintainer: Michal Čihař <nijel@debian.org>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: dofcalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Depth of field calculator
 DOF Calc helps you calculate the depth of field in your photographs.
 It will help you choose right f/stop to produce depth of field you
 want. It also calculates hyperfocal distance. Compatible with all cameras.
XSBC-Maemo-Display-Name: DOF Calc
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAAEnQAABJ0BfDRroQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAARISURB
 VEiJrVbPbxtFGH3fzKy93o3tBNvpkjpqpdIWJATpmR4QB1pCj1QICTgWCUrKAW78BYgDBKhEj1AJ
 oXKE0t4rVIRQKUJq2hQVktR1Em/cJJusd2ZnhoPzw3ZcaGnf8Zt58763+3bnI2st+uHCncXDJsUR
 a+0oIwosbMCIlRnZEgAYS6GxpkGgurG2TkSzTODi0ccrl/qdR71CP84tnoS1EwTar63p28S9wInB
 wk6DaPKlauXzvkLn5uZyrqTvjLXj5h4u7xeMCIzofCtjXzlercYAILYUI30utnr84SS2QcA4k/wc
 gGPAhqNvr/39tlatL/RDOukFJwJ33HdefWrPaQEAsrV2SqbpIxXZRMaYCQCn6ewfU8+tr6xd0mbb
 zc2rV+AXi/ALg12kgy7DgtJoauqq//n7bzj0/At9hTgjeAX/sGhFraNxknQttloxhOsik8quOiMX
 WmuotDuN8foapOre28WL+FHRSpJRJbs3ub6PSnV0B+GGAZAVcLMbBWNgL1+GSWJc++Vn+IUCGrXb
 8PIF7HtmbLtxxkeFkjKQPUJKKfTWOkFSwrsxDRAhOjSGgbnbyA8MYKhUQtYfAIAuPmc8EEmSBFKp
 bqE0RW8NAFgrhnfrFqxw0Dx4oN1tswntZGDAIJWCVO1QdfIZsUDIJCn3Pt9eRzyK4NVq0G4WS/ue
 wEbLbSGpYCxAjoCUEmrjrE4+syiLJIlLMtVbxdWlEOtRBCklnOUVuOEiwihCuGcvvGJxS2AT2lpY
 C5hsDnGjDrXpqGMfGV0SSsquFK2EIRavXkFpfgErOQ9rg0WEy3fh/XULuXx+x+P0BoegiSNRElG9
 jhfHnobgHD/NN7cdGQ2RGoRSyd2bxcGR3ZDLd5HP5uALDr4rQGFXsENgE9YCZC24cODm85hfasJ1
 s11x58wNRWp0Q8ltIQCwOQ8LI7vBdIrBqSmAEZb27AWIenVAxsA6GUArpFrj19o8ACCXL2ztcRyn
 IayxdSnls53kzjDUq1XAWpRuToMZi3C0CiOc7W5TDSscmGgVihiUbKeNd7yjXM6rC6N1/X7ifWek
 bbo8MwOeGoQjAdKsC55KMOtDxnE73mmbxzr4Ruu6YJzPPsgHW9t4X6VaDZlEolmpwLo5SNtOWhK3
 2kKZ7BaHcT4r3GL2Amb1h2nHFWEJSP/jbz4/PAwA8GZmsLRQg/V9JNqgtboKx3Xh+D4AQBDBLWYv
 kLUWb340eX15deXAv578P1Es5K9/9cGpJxkAlIcrn/I+iXpYcCKUK8OTQMfM8NZnZ76fX1h4+RFe
 5dg1PPzDl++eOAYAbHPBD4aOV8rl8+wRGGMEVMrl834wdHxLuHfceu/M2ZONpcWJeH19f/qAM4Qg
 Qs7zpsuPVSY/OfF6/3GrF+9//c3h9ah1RKlkVKc6UEoFaarLJlUlAGDCCYXgDcdx6lzwuuNkZ70B
 9+LHb7zWd4D8B3X+OXNOob9qAAAAAElFTkSuQmCC
